<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snailscoder.store.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="orderResultMap" type="com.snailscoder.store.entity.Order">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="order_code" property="orderCode"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="saler_id" property="salerId"/>
        <result column="store_id" property="storeId"/>
        <result column="team_id" property="teamId"/>
        <result column="address_id" property="addressId"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="spread_amount" property="spreadAmount"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <select id="selectOrderPage" resultMap="orderResultMap">
        select * from snails_order where is_deleted = 0
    </select>

</mapper>
