<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snailscoder.store.mapper.StoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="storeResultMap" type="com.snailscoder.store.entity.Store">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="store_name" property="storeName"/>
        <result column="store_logo" property="storeLogo"/>
        <result column="store_intro" property="storeIntro"/>
    </resultMap>


    <select id="selectStorePage" resultMap="storeResultMap">
        select * from snails_store where is_deleted = 0
    </select>

</mapper>
