<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>rdc-releases</id>
            <username>${env.MY_MAVEN_USERNAME}</username>
            <password>${env.MY_MAVEN_PASSWORD}</password>
        </server>
        <server>
            <id>rdc-snapshots</id>
            <username>${env.MY_MAVEN_USERNAME}</username>
            <password>${env.MY_MAVEN_PASSWORD}</password>
        </server>
    </servers>
</settings>